h2 {
  text-align: left;
  width: 80%;
}

table {
  text-align: left;
  margin-bottom: 50px;
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid #f6f6f6;
}

th, td {
  padding: 5px
}

thead th:nth-child(1) {
  width: 18%;
}

thead th:nth-child(2) {
  width: 34%;
}

thead th:nth-child(3) {
  width: 18%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 10%;
}

tr td:nth-child(5){
  text-align: center;
}
