#top {
  display: grid;
  grid-template-columns: 440px 450px;
}

#img-div {
  display: flex;
  justify-content: center;
}

#user-img {
  /* float: right; */
  max-width: 400px;
  width: auto;
  max-height: 400px;
  height: auto;
}

#show {
  display: grid;
  grid-template-columns: 180px 240px;
  grid-gap: 16px;
  font-size: 24px;
}

#show div {
  padding: 2px;
  border-radius: 5px;
}

#show div:nth-child(odd) {
  font-weight: bold;
}

#gorilla-btn {
  font-size: 18px;
}