h2 {
  margin-top: 80px;
}

h3 {
  margin-top: 40px;
}

table {
  text-align: left;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
}

table button {
  padding: 5px;
  height: 25px;
}

th {
  border-bottom: 2px solid #f6f6f6;
}

th, td {
  padding: 5px
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 65%;
}

thead th:nth-child(3) {
  width: 10%;
}

tr td:nth-child(5){
  text-align: center;
}

#add-entries {
  display: grid;
  grid-template-columns: 8% 20% 8% 45% 15%;
  width: 60%;
  grid-gap: 8px;
  margin-bottom: 40px; 
  align-items: center;
}

#add-entries input {
  border-radius: 5px;
  height: 30px;
  padding: 4px 0;
}

#top {
  display: grid;
  grid-template-columns: 410px 450px;
}

#img-div {
  display: flex;
  justify-content: center;
}

#user-img {
  max-width: 400px;
  width: auto;
  max-height: 400px;
  height: auto;
}

#show {
  display: grid;
  grid-template-columns: 150px 240px;
  grid-gap: 16px;
  font-size: 24px;
}

#show div {
  padding: 2px;
  border-radius: 5px;
}

#show div:nth-child(odd) {
  font-weight: bold;
}

#gorilla-btn {
  font-size: 18px;
}

#edit-btns button {
  margin-bottom: 8px;
}

@media only screen and (max-width: 550px){
  table {
    width: 80%;
  }

  #top {
    display: grid;
    grid-template-columns: 350px;
  }

  #show {
    grid-template-columns: 150px 180px;
  }

  #add-entries {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 90%;
    grid-gap: 8px;
    margin-bottom: 40px; 
    align-items: center;
  }
}