h2 {
  margin-top: 80px;
}
table {
  text-align: left;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
}

table button {
  padding: 5px;
  height: 25px;
}

th {
  border-bottom: 2px solid #f6f6f6;
}

th, td {
  padding: 5px
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 65%;
}

thead th:nth-child(3) {
  width: 10%;
}

tr td:nth-child(5){
  text-align: center;
}

#add-entries {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-gap: 16px;
  margin-bottom: 40px;
}

#top {
  display: grid;
  grid-template-columns: 440px 450px;
}

#img-div {
  display: flex;
  justify-content: center;
}

#user-img {
  max-width: 400px;
  width: auto;
  max-height: 400px;
  height: auto;
}

#show {
  display: grid;
  grid-template-columns: 180px 240px;
  grid-gap: 16px;
  font-size: 24px;
}

#show div {
  padding: 2px;
  border-radius: 5px;
}

#show div:nth-child(odd) {
  font-weight: bold;
}

#gorilla-btn {
  font-size: 18px;
}