<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h2>Welcome<%=,  user ? user.profile.name : "friend" %>!</h2>
  <h1>Gorilla Training</h1>
  <img src="/assets/Grace.jpeg" alt="Baby gorilla eating a banana leaf">
</main>

<%- include('./partials/footer') %>
