h2 {
  margin-top: 40px;
}

table {
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th {
  border-bottom: 2px solid #f6f6f6;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 18%;
}

th,
td {
  padding: 10px;
  text-align: left;
}

#top {
  display: grid;
  grid-template-columns: 440px 410px;
}

#img-div {
  display: flex;
  justify-content: center;
}

#user-img {
  max-width: 400px;
  width: auto;
  max-height: 400px;
  height: auto;
}

#show {
  display: grid;
  grid-template-columns: 180px 240px;
  grid-gap: 16px;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#show * {
  padding: 2px;
  border-radius: 5px;
}

#show div:nth-child(odd) {
  font-weight: 600;
}

@media only screen and (max-width: 550px){
  table {
    width: 90%;
  }

  #top {
    display: grid;
    grid-template-columns: 350px;
  }

  #show {
    grid-template-columns: 150px 180px;
  }
}