img {
  /* display: inline-block; */
}

table {
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
  /* border: 3px solid purple; */
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

th,
td {
  padding: 10px;
  text-align: left;
}

#top {
  display: grid;
  grid-template-columns: 440px 450px;
}

#img-div {
  display: flex;
  justify-content: center;
}
#user-img {
  /* float: right; */
  max-width: 440px;
  width: auto;
  max-height: 440px;
  height: auto;
}

#show {
  display: grid;
  grid-template-columns: 180px 240px;
  grid-gap: 16px;
  font-size: 24px;
}

#show * {
  padding: 2px;
  border-radius: 5px;
}

#show div:nth-child(odd) {
  font-weight: bold;
}