html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  /* background-color: #244931; */
  /* color: #f6f6f6; */
  background-image: url('../assets/leaves.jpg');
  background-size: cover;
  backdrop-filter: blur(2px);
  color: #f9f9f9;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  color: #f6f6f6;
  background-color: #0a150a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  height: 70px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

main img {
  border: 2px solid rgb(15, 64, 32);
}

nav > div.icon {
  width: 200px;
  height: 70px;
}

nav > div.oauth {
  width: 200px;
  text-align: right;
}

nav > div.links {
  width: 300px;
  text-align: center;
}

nav img {
  height: 70px;
}

nav a {
  margin: 20px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: #65BC7B;
  /* background-color: #424748; */
}

nav a.active {
  color: rgb(16, 94, 18);
}

.right {
  margin-left: auto;
}

#navicon {
  /* backdrop-filter: invert(100%); */
}