html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url('../assets/leaves-2.jpeg');
  background-size: cover;
  backdrop-filter: blur(2px);
  height: 100vh;
  background-color: rgb(9, 40, 9);
  color: #f9f9f9;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  color: #f6f6f6;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  height: 70px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

button {
  background-color: #68c07e;
  color: rgb(2, 42, 7);
  padding: 0 15px;
  height: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

main img {
  border: 3px solid rgb(136, 222, 155); 
  border-radius: 30px;
}

nav > div.icon {
  width: 240px;
  height: 70px;
}

nav > div.oauth {
  width: 200px;
  text-align: right;
}

nav > div.links {
  width: 300px;
  text-align: center;
}

nav img {
  height: 70px;
}

div.links a, div.oauth {
  margin: 20px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: #65BC7B;
}

nav a.active {
  color: rgb(16, 94, 18);
}

.right {
  margin-left: auto;
}