<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/gorillas/new.css">
<%- include('../partials/nav') %>

<main>
<% if (user) { %>
  <h2>Add a Gorilla</h2>
  <form action="/gorillas" method="POST">
    <label for="name-input">Name:</label>
    <input name="name" type="text" id="name-input" autocomplete="off">
    <label for="age-input">Age:</label>
    <input name="age" type="text" id="age-input" autocomplete="off">
    <label for="sex-select">Sex:</label>
    <select name="sex" id="sex-select">
      <option value="">---Sex---</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <label for="group-input">Social Group:</label>
    <select name="group" id="group-input">
      <option value="">---Group---</option>
      <option value="Family">Family</option>
      <option value="Bachelor">Bachelor</option>
    </select>
    <label for="family-input">Family Members:</label>
    <textarea name="family" id="family-input"></textarea>
    <label for="image-input">Image URL:</label>
    <input name="image" id="image-input">
    <div></div>
    <button type="submit">Submit</button>
  </form>
  <a href="/gorillas">
    <button>Cancel</button>
  </a>
<% } %>
</main>
<%- include('../partials/footer') %>